[submodule "OptixRenderer"]
	path = OptixRenderer
	url = https://github.com/lzqsd/OptixRenderer.git
[submodule "TileableTextureSynthesis"]
	path = TileableTextureSynthesis
	url = https://github.com/lzqsd/TileableTextureSynthesis.git
[submodule "InverseRenderingOfIndoorScene"]
	path = InverseRenderingOfIndoorScene
	url = https://github.com/lzqsd/InverseRenderingOfIndoorScene.git
[submodule "SphericalGaussianOptimization"]
	path = SphericalGaussianOptimization
	url = https://github.com/lzqsd/SphericalGaussianOptimization.git
